body {
    line-height: 1;
    margin: 0;
    background-color: #37D1CE;
}

.top-navigation {
    background-color: #37D1CE;
    position: fixed;
    width: 100%;
    padding-top: 2em;
    z-index: 2;
}

#name {
    margin-left: 1em;
}

#title {
    margin-left: 2%;
    white-space: nowrap;
}

img {
    margin-left: 2%;
}

#name,
#title {
    display: inline;
    position: relative;
    top: -1.5em;
}

.top-navigation > p {
    color: white;
    font-size: 3rem;
    font-family: 'Courgette', cursive;
    letter-spacing: .1em;
}

[data-link] {
    cursor: pointer;
}

.portfolio {
    position: relative;
    top: 15em;
}

.portfolio a {
    display: block;
    text-decoration: none;
}

.Blue_Tab {
    background-color: #37D1CE;
}

.White_Tab {
    background-color: white;
}

.Blue_Tab,
.White_Tab {
    height: 10rem;
}

.Blue_Tab > .Circle {
    background-color: white;
}

.White_Tab > .Circle {
    background-color: #37D1CE;
}

.Circle {
    height: 7em;
    width: 7em;
    border-radius: 5em;
    margin-left: 5em;
    position: relative;
    top: 1em;
}

#About_Me_Circle {
    background-image: url("images/me.png");
    background-size: 100%;
}

#Karma_Circle {
    background-image: url("images/karma.png");
    background-size: 100%;
}

#Animated_Bunny_Circle {
    background-image: url("images/animated_bunny.png");
    background-repeat: no-repeat;
    background-size: 98%
}

#Shopper_Circle {
    background-image: url("images/cart.png");
    background-size: 100%;
}

#Recipe_Picker_Circle {
    background-image: url("images/fork.png");
    background-size: 100%;
}

#Quiz_Circle {
    background-image: url("images/question.png");
    background-size: 100%;
}

.White_Tab:hover,
.Blue_Tab:hover {
    margin-left: 2em;
}

.White {
    background-color: white;
}

.text {
    font-size: 1.5rem;
    font-family: 'Hind', sans-serif;
    letter-spacing: .1em;
    margin-left: 10em;
    position: relative;
    top: -4em;
}

.Blue_Tab > .text {
    color: white;
}

.White_Tab > .text {
    color: #37D1CE;
}

.contact {
    margin-top: 5em;
    margin-bottom: 10em;
}

.contact > p {
    font-family: 'Courgette', cursive;
    font-size: 3em;
    color: white;
    letter-spacing: .2em;
    text-align: center;
}

.icons {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.icons a,
.icons a:visited {
    color: white;
    font-size: 2.5em;
    text-decoration: none;
    display: inline;
}

.icons > div {
    display: inline;
    padding: .5em;
}

.copyright {
    padding: 2em;
    padding-top: 3em;
    color: white;
    font-size: 1em;
    font-family: 'Hind', sans-serif;
    letter-spacing: .1em;
}

@media only screen and (max-width: 1050px) {
    .top-navigation > p {
        font-size: 2em;
    }
    #name,
    #title {
        top: -2.5em;
    }
    .icons {
        width: 30%;
    }
}

@media only screen and (max-width: 770px) {
    .portfolio {
        position: relative;
        top: 17em;
    }
    #name,
    #title {
        top: -3em;
    }
}

@media only screen and (max-width: 650px) {
    #title {
       top: .5em;
       left: .5em;
    }

    .first_img {
        width: 15em;
    }

    img {
        float: right;
    }

    #name {
        top: .1em;
    }

    .top-navigation {
        position: relative;
        margin-bottom: -15em;
    }

    .description {
        display: none;
    }
    .Circle {
        position: relative;
        left: 5em;
    }
    .text {
        position: relative;
        right: 9em;
    }
    .shorten {
        max-width: 5em;
    }
    .icons {
        width: 80%;
    }
    .contact > p {
        font-size: 2em;
    }
    .copyright {
        text-align: center;
    }
}
